main {
  margin-left: 275px;
 }
 
 header {
   background-color: #444;
   height: 100px;
   margin-bottom: 30px;
   display: flex;
   justify-items: center;
 }
 
 nav {
   display: flex;
   width: 960px;
   height: 100px;
   margin: auto;
 }

 #links {
  display: flex;
  justify-content: space-around;
   align-items: center;
   width: 100%;
   list-style: none;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color-scheme: lightgray;
 }
 
 nav img {
   float:left;
   color: #444;
  
 }
 
 nav ul {
   display: flex;
  justify-content: space-around;
   align-items: center;
   width: 100%;
   list-style: none;

  
  
  }

 
 main ul {
   width: 960px;
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   margin-bottom: 30px;
 }
 
 
 main article {
   width: 960px;
   height: 400px;
   display: flex;
   justify-content: space-around;
   margin-top: 30px;
   margin-bottom: 30px;
 }
 
 main section {
   display: flex;
   flex-direction: column;
   height: 400px;
   margin-left: 30px;
 }
 
 
 
 section p {
   overflow:auto;
   color:darkgray;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }
 
 footer {
   background-color: #444;
   height: 100px;
   margin-top: 30px;
   
 }
 
 button {
   transition: 956ms;
   width: 30%;
   height: 20%;
   color: #000000;
  border-radius: 12px ;
  border: 10px;
 font-weight: 555;
  }
 
 button:hover {
   background-color: lime;
 }
 
 section h2 {
   font-size: 1.2em;
 }